{% extends 'base.html' %}

{% block content %}
<div class="container" style="width: 50%" >
        {% if content|length != 0 %}
            {% for elem in content %}
                <div class="col">
                    <div class="alert alert-info">
                       <a href="/posts/{{ elem[0].id }}">
                           <span class="text-center"><h2>{{ elem[0].title }}</h2></span>
                           <div class="col-6 intro fs-4 m-3">
<pre>{{ elem[0].intro }}</pre>
                           </div>
                       </a>
                        <div class="signature p-2">
                            <b>Дата: {{ elem[0].date.date().strftime("%d.%m.%y") }}, {{ elem[0].date.time().strftime("%H:%M") }}</b>
                            <br>
                            Автор: <a href="{{url_for('profile_with_login', login=elem[1].login)}}"><i>{{ elem[1].login }}</i></a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
        <p>У нас еще нет статей на сайте</p>
        {% endif %}
</div>
{{super()}}
{% endblock %}