<!DOCTYPE html>
<html lang="ru" style = "text-align: center">
<head>
<title>Практическое задание 10</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body class="test">
<h1 style = "text-align: right">Михаил Лермонтов</h1>
<hr>
<h2 style = "background-color: grey; color: white; font-size: 26px">ПАРУС</h2>
<pre style = "font-family:verdana; background-color: white; color: black">
Белеет парус одинокой
В тумане моря голубом!..
Что ищет он в стране далекой?
Что кинул он в краю родном?...

Играют волны — ветер свищет,
И мачта гнется и скрыпит...
Увы! Он счастия не ищет
И не от счастия бежит!

Под ним струя светлей лазури,
Над ним луч солнца золотой...
А он, мятежный, просит бури,
Как будто в бурях есть покой!
</pre>
</body>
</html>


<!--{% block head %}-->
<!--{{super()}}-->
<!--<link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">-->
<!--{% endblock %}-->



