{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class='alert alert-{{category}} px-5 m-2'>
        {{ message }}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% set article = context.article %}
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-md-auto text-center align-self-top pt-5">
            <a href="{{ article.author.url_profile() }}">
                <span class="fs-3 fst-italic">{{ article.author.username }}</span>
                <br>
                <img class="avatar thumb m-2" src="{{ article.author.url_avatar() }}">
            </a>
            <div class="px-3">
                Дата регистрации: {{ article.author.date.date().strftime("%d.%m.%y") }}, {{
                article.author.date.time().strftime("%H:%M") }}
                <br>
                Написано статей: {{ article.author.articles|length }}
            </div>
        </div>
        <div class="col">
            <h1 class="text-center">{{ article.title }}</h1>
            <div class="alert alert-info">
                <p class="fs-5 text">{{ article.text }}</p>
                <div class="row">
                    <div class="col">
                        {% if article.able_to_comment %}
                        {% if current_user.id != article.author_id %}
                        <div class="col left-buttons">
                            <form action="" method="POST">
                                <button class="btn btn-sm btn-primary" href=#>Оставить комментарий</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if current_user.id == article.author_id %}
                        <div class="col left-buttons">
                            <a class="btn btn-sm btn-danger" href="/posts/{{ article.id }}/del">Удалить</a>
                            <a class="btn btn-sm btn-success" href="/posts/{{ article.id}}/update">Редактировать</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col">

                    </div>
                    <div class="col signature">
                        <b>Дата: {{ article.date.date().strftime("%d.%m.%y") }}, {{
                            article.date.time().strftime("%H:%M") }}</b>
                        {% if article.edit_date != None %}
                        <p><b>Редактировалось: {{ article.edit_date.date().strftime("%d.%m.%y") }}, {{
                            article.edit_date.time().strftime("%H:%M") }}</b></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if form != None %}
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-md-auto text-center align-self-top pt-5">
            <a href="{{ current_user.url_profile() }}">
                <span class="fs-3 fst-italic">{{ current_user.username }}</span>
                <br>
                <img class="avatar thumb m-2" src="{{ current_user.url_avatar() }}">
            </a>
            <div class="px-3">
                Дата регистрации: {{ current_user.date.date().strftime("%d.%m.%y") }}, {{
                current_user.date.time().strftime("%H:%M") }}
                <br>
                Написано статей: {{ current_user.articles|length }}
            </div>
        </div>
        <div class="col">
            <form action="" method="POST">
                <div class="center p-2">
                    {{ form.hidden_tag() }}
                    {{ form.text.label(class='form-control-label') }}
                    {{ form.text(class='form-control form-control-lg', rows=6)}}
                    {{form.submit(class='btn btn-primary m-2')}}
                </div>
            </form>
        </div>
    </div>
    {% else %}
    {% if article.able_to_comment %}
    {% if article.comments|length != 0 %}
    <div class="container w-50 mt-3">
        <fieldset class="form-group">
            <legend class='border-bottom mb-4 display-6'>Комментарии</legend>
        </fieldset>
    </div>
    {% for comment in article.comments %}
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="col-md-auto text-center align-self-center pt-2">
            <a href="{{ comment.author.url_profile() }}">
                <span class="fs-3 fst-italic">{{ comment.author.username }}</span>
                <br>
                <img class="avatar thumb m-2" src="{{ comment.author.url_avatar() }}">
            </a>
            <br>
            Дата регистрации: {{ comment.author.date.date().strftime("%d.%m.%y") }}, {{
            comment.author.date.time().strftime("%H:%M") }}
            <br>
            Написано статей: {{ comment.author.articles|length }}
        </div>
        <div class="col">
            <div class="alert alert-info">
                <p class="fs-5 text">{{ comment.text }}</p>
                <div class="row">
                    <div class="col left-buttons">
                        {% if current_user.id == comment.author_id %}
                        <a class="btn btn-sm btn-danger" href="{{ comment.delete() }}">Удалить</a>
                        <a class="btn btn-sm btn-success" href="{{ comment.edit() }}">Редактировать</a>
                        {% endif %}
                    </div>
                    <div class="col">
                    </div>
                    <div class="col right-buttons">
                        <p><b>Дата: {{ comment.date.date().strftime("%d.%m.%y") }}, {{
                            comment.date.time().strftime("%H:%M")
                            }}</b></p>
                        {% if comment.edit_date != None %}
                        <p><b>Редактировалось: {{ comment.edit_date.date().strftime("%d.%m.%y") }}, {{
                            comment.edit_date.time().strftime("%H:%M") }}</b></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% else %}
    <p class="fs-3 text-center text-dark"><i>Автор запретил оставлять комментарии.</i></p>
    {% endif %}
    {% endif %}
</div>
{{super()}}
{% endblock %}
