{% extends 'base.html' %}

{% block content %}

{% for user in context.profile_user %}
<div class="container-fluid" >
    <div class="container" style="width: 50%">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <img class="m-3" style="width:{{ user.avatar_width_main() + 2 }}px; height: {{ user.avatar_height_main() + 2 }}px" src="{{ user.url_main_avatar() }}">
                </div>
            </div>

            <div class="col p-2" style="min-width: 350px">
                <ul class='list-group-item'>
                    <legend class='text-center text-info display-10'>Информация о пользователе</legend>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Логин:
                            </div>
                            <div class="col">
                               {{ user.username }}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Имя:
                            </div>
                            <div class="col">
                                {% if user.info.first_name %}{{ user.info.first_name }}{% else %}<i>Не указано</i>{% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Фамилия:
                            </div>
                            <div class="col">
                                {% if user.info.last_name %}{{ user.info.last_name }}{% else %}<i>Не указано</i>{% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                Пол:
                            </div>
                            <div class="col">
                                {% if user.info.gender %}<b>М</b>{% else %}<b>Ж</b>{% endif %}
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">Дата регистрации: {{ user.date.date().strftime("%d.%m.%y") }}, {{ user.date.time().strftime("%H:%M") }}</li>
                    <li class="list-group-item">Написано статей: {{ user.count_articles() }}</li>
                    <li class="list-group-item">Написано комментариев: {{ user.count_comments() }}</li>
                    <li class="list-group-item">Последняя активность: {{ user.last_seen.date().strftime("%d.%m.%y") }}, {{ user.last_seen.time().strftime("%H:%M") }}</li>
                </ul>
            </div>
        </div>
        <br>
            <legend class='text-center text-info display-10'>Статьи пользователя</legend>
            <div class="container">
                {% if user.articles|length > 0 %}
                    {% for el in user.articles %}
                        <div class="alert alert-info">
                            <h2>{{ el.title }}</h2>
                            <p>{{ el.intro }}</p>
                            <p><b>Дата: {{ el.date.date().strftime("%d.%m.%y") }}, {{ el.date.time().strftime("%H:%M") }}</b></p>
                            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
                        </div>
                    {% endfor %}
                    {% else %}
                    <p>...</p>
                {% endif %}
            </div>
    </div>
</div>
{% endfor %}
{{super()}}
{% endblock %}
